<p>
  <strong>First Name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>User reports:</strong>
  <%= @user.reports.count %>
</p>

<p>
  <strong>User hours:</strong>
  <% @total_hours = 0%>
  <% @user.reports.each do |report| %>
  	<% @total_hours += report.total_time%>
  <% end %>
  <%= @total_hours%>
</p>

<p>
  <strong>Part of total reports:</strong>
  <% @total_reports = Report.all.count %>
  <%= @user.reports.count%>/<%= @total_reports%>
</p>