<p id="notice"><%= notice %></p>

<h1>Listing All Salaries</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>User</th>
      <th>Current Balance</th>
      <th>Total Earned Money</th>
      <th>Submit Salary</th>
    </tr>
  </thead>

  <tbody>
  <div id="chart-container"><%= @chart.render() %></div>  
    <% @salaries.each do |salary| %>
      <tr>
        <td><%= salary.user.first_name %> <%= salary.user.last_name %></td>
        <td><%= salary.current_balance %></td>
        <td><%= salary.total_balance %></td>
        <td><%= link_to 'Submit Salary', { :action => "submit_salary", :controller => "salaries", :salary_id => salary.id},  method: :post, class: "btn btn-default" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
