<p id="notice"><%= notice %></p>

<p>
  <strong>Current Balance:</strong>
  <%= @salary.current_balance %>
</p>

<p>
  <strong>Total Earned Money:</strong>
  <%= @salary.total_balance %>
</p>

<p>
  <strong>User:</strong>
  <%= @salary.user.first_name %> <%= @salary.user.last_name %>
</p>

<%= area_chart Salary.group(:created_at).maximum(:current_balance) %>
<%= line_chart Salary.group(:current_balance).count %>






