<p id="notice"><%= notice %></p>

<p>
  <strong>Current Balance:</strong>
  <%= @salary.current_balance %>
</p>

<p>
  <strong>Total Earned Money:</strong>
  <%= @salary.total_balance %>
</p>

<p>
  <strong>User:</strong>
  <%= @salary.user.first_name %> <%= @salary.user.last_name %>
</p>







