<p id="notice"><%= notice %></p>

<h1>Listing Projects</h1>

<ul class="nav navbar-nav">
  <li><%= link_to 'All Projects', { :action => "index", :controller => "projects"}, class: "btn btn-default"%></li>
  <li><%= link_to 'Active Projects', { :action => "active_projects", :controller => "projects"},  method: :post, class: "btn btn-default" %></li>
  <li><%= link_to 'Unactive projects', { :action => "unactive_projects", :controller => "projects"},  method: :post, class: "btn btn-default" %></li>
</ul>
<br><br><br>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Description</th>
      <th>Change Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.status %></td>
        <td><%= project.description %></td>
          <% if project.status == false %>
          <td><%= link_to 'Make Active', { :action => "make_active", :controller => "projects", :project_id => project.id},  method: :post %></td>
          <% else %>
          <td><%= link_to 'Make Unactive', { :action => "make_unactive", :controller => "projects", :project_id => project.id},  method: :post %></td>
          <% end %>
        <td><%= link_to 'Show', project %></td>
        <% if can? :update, project %>
          <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <% end %>
        <% if can? :destroy, project %>
          <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Project', new_project_path, class: "btn btn-primary"%>
