<%= form_for(@report) do |f| %>
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_field :comment %>
  </div>
  <div class="field">
    <%= f.label :project_id %><br>
    <%= select_tag 'report[project_id]', options_from_collection_for_select(Project.all, 'id', 'name') %>
  </div>
  <%= hidden_field_tag :user_id, current_user.id%>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
